<%- include ../common/header %>

<div class="chatroom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well" style="height: 400px;overflow-y: scroll;">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control" value="" id="content"/>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-success btn-block" value="Send" id="send-btn"/>
            </div>
        </div>
    </div>
</div>

<script>
    var nickname = '<%=auth.nickname%>';
    var genre = '<%=auth.genre%>';

    var socket = io.connect();

    socket.on('chat history', function (data) {
        data = data || [];
        if (data.length > 0) {
            for (var key in data) {
                var message = data[key];
                showMessage(message);
            }
        }
    });
    socket.on('chat message', showMessage);

    $('#send-btn').click(sendMessage);
    $('#content').keydown(function (e) {
        if (e.keyCode == 13) sendMessage();
    });
    function sendMessage() {
        var message = {
            'nickname': nickname,
            'genre': genre,
            'time': new Date().getTime(),
            'message': $('#content').val()
        };
        socket.emit('chat message', message);
        $('#content').val('');
    }
    function showMessage(message){
        var screen = $('.well ul');
        var html = '<p><span class="label label-primary">' + message.nickname + '</span> : ' + message.message + '</p>';
        screen.append(html);
        $('.well').scrollTop(screen.height());
    }


</script>

<%- include ../common/footer %>
